@font-face {
    font-family: "rubik-reg";
    src: url("fonts/Rubik-Regular.ttf");
}

@font-face {
    font-family: "rubik-bold";
    src: url("fonts/Rubik-Bold.ttf");
}

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: rubik-reg;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}


/*nav*/
.mobile-nav-wrap {
    display: none;
}

nav {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10;
}

.desktop-nav-wrap {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #5366df;
}

.logo-nav-wrap {
    margin-left: 70px;
}

.right-nav {
    font-family: rubik-reg;
    display: flex;
    margin-right: 70px;
}

.right-nav li {
    margin: 0px 10px;
}

.right-nav a:hover {
    color: #e05a5a;
}

.login {
    background-color: #e05a5a;
    color: white;
    border-radius: 15px;
    padding: 14px 20px;
    border: 2px solid #e05a5a;
}

.login:hover {
    background-color: #ffffff;
    color: white;
    border: 2px solid #e05a5a;
    border-radius: 15px;
    padding: 14px 20px;
}

/*hero text*/
.hero-wrap {
    display: flex;
    margin: 100px 0px;
}

.hero-text-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    justify-content: center;
}

.hero-text-wrap h3 {
    font-size: 45px;
    font-family: rubik-bold;
}

.hero-text-wrap p {
    font-size: 20px;
    margin: 30px 0px;
}

.hero-button-wrap {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}

.chrome-btn {
    background-color: #5366df;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #5366df;
    margin-right: 20px;
    transition: all 0.5s;
}

.chrome-btn:hover {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #5366df;
    margin-right: 20px;
}

.fire-btn {
    background-color: #cfcfcf;
    border: 2px solid #cfcfcf;
    padding: 10px 20px;
    border-radius: 15px;
    color: #000000;
    transition: all 0.5s;
}

.fire-btn:hover {
    background-color: #ffffff;
    border: 2px solid #cfcfcf;
    padding: 10px 20px;
    border-radius: 15px;
    color: #000000;
}

.hero-image-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-one img {
    width: 80%;
}

/*feature*/
.features-wrap {
    background-color: #f3f3f3;    
    padding: 100px 0px;
    height: 1000px;
    overflow: hidden;
}

.features-hero-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-hero-wrap h3 {
    font-size: 40px;
    font-family: rubik-bold;
    margin-bottom: 30px;
}

.features-hero-wrap p {
    font-size: 20px;
    font-family: rubik-reg;
    width: 50%;
    text-align: center;
}

.features-tab div {
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.features-tab div p {
    padding: 10px 20px;
    font-size: 25px;
}

.features-tab div p:hover {
    color: #e05a5a;
    cursor: pointer;
}

.features-why-wrap {
    overflow: hidden;
}

.active {
    border-bottom: 3px solid #e05a5a;
    color: #e05a5a;
}

.feat-block {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.5s;
    position: absolute;
    overflow: hidden;
}

.show-block {
    opacity: 1;
    /*transform: translateX(5%);*/
    z-index: 5;
    position: absolute;
    overflow: hidden;
    margin-left: 10%;
}

.hide-block {
    opacity: 0;
    transform: translateX(0%);
    z-index: -5;
    position: absolute;
    overflow: hidden;
}

.features-img-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-text-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.features-text-wrap h3 {
    font-size: 40px;
    font-family: rubik-bold;
}

.features-text-wrap p {
    font-size: 20px;
    font-family: rubik-reg;
    margin: 20px 0px;
    width: 60%;
}

.features-text-wrap a {
    font-size: 20px;
    font-family: rubik-reg;
    padding: 10px 20px;
    background-color: #5366df;
    border: 2px solid #5366df;
    border-radius: 15px;
    transition: all 0.5s;
    color: white;
}

.features-text-wrap a:hover {
    font-size: 20px;
    color: #000000;
    font-family: rubik-reg;
    padding: 10px 20px;
    background-color: #5366df00;
    border: 2px solid #5366df;
    border-radius: 15px;
}


/*extension*/
.extension-wrap {
    padding: 100px 0px;
}

.extension-header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extension-header-wrap h3 {
    font-size: 45px;
    font-family: rubik-bold;
}

.extension-header-wrap p {
    font-size: 20px;
    margin: 30px 0px;
    width: 50%;
    text-align: center;
}

.articles-block-wrap {
    display: flex;
    justify-content: space-evenly;
}

.extension-block {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 14px 36px -12px rgba(27,39,110,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extension-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extension-top h3 {
    color: #000000;
    font-size: 20px;
    font-family: rubik-bold;
}

.extension-top p {
    color: #5f5e5e;
    font-size: 18px;
    margin: 10px 0px;
}

.extension-top .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.extension-bottom {
    margin-top: 20px;
    border-top: 1px solid black;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extension-bottom p {
    margin: 20px 0px;
}

.extension-bottom a {
    background-color: #5366df;
    border: 2px solid #5366df;
    border-radius: 10px;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.extension-bottom a:hover {
    background-color: white;
    border: 2px solid #5366df;
    border-radius: 10px;
    color: #000000;
    padding: 15px 20px;
    cursor: pointer;
}

.chrome {
    position: relative;
}

.firefox {
    position: relative;
    top: 50px
}

.opera {
    position: relative;
    top: 100px
}

/*faq*/
.faq-wrap {
    margin: 100px 0px;
}

.faq-hero-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-hero-wrap h3 {
    font-size: 45px;
    font-family: rubik-bold;
}

.faq-hero-wrap p {
    font-size: 20px;
    margin: 30px 0px;
    width: 50%;
    text-align: center;
}

.accordion-wrap {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accordion-block {
    border-top: 1px solid black;
    width: 50%;
    cursor: pointer;
}

.accordion-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
}

.accordion-top p {
    font-family: rubik-reg;
    font-size: 25px;
}

.accordion-info {
    height: 0px;
    overflow: hidden;
    transition: all 1s;
}

.accordion-info p {
    display: block;
}

.accordion-hide {
    height: 0px;
    overflow: hidden;
}

.accordion-show {
    height: 50px;
    overflow: hidden;
}

.activate {

}

.bottom {
    border-bottom: 1px solid black;
}

.accordion-btn {
    display: flex;
    justify-content: center;
}

.accordion-btn a {
    background-color: #5366df;
    border: 2px solid #5366df;
    border-radius: 10px;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.accordion-btn a:hover {
    background-color: white;
    border: 2px solid #5366df;
    border-radius: 10px;
    color: #000000;
    padding: 15px 20px;
    cursor: pointer;
}

/*subscribe*/
.signup-wrap {
    background-color: #5366df;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-wrap p {
    color: #cfcfcf;
    font-size: 18px;
    letter-spacing: 8px;
}

.signup-wrap h3 {
    margin: 20px 0px;
    font-size: 25px;
    font-family: rubik-bold;
    color: #ffffff;
    width: 30%;
    text-align: center;
}

.subscribe-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input {
    padding: 20px;
    width: 270px;
}

.subscribe-wrap p {
    display: flex;
    align-items: center;
    background-color: #e05a5a;
    margin-left: 20px;
}

.btn {
    padding: 20px;
    color: white;
    letter-spacing: 0rem;
}


/*footer*/

footer {
    background-color: #272d57;
    color: white;
    padding: 50px 0px;
}

.footer-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-left {
    display: flex;

}

.footer-left ul {
    display: flex;
    align-items: center;
}

.footer-left li {
    margin: 10px;
}

footer a {
    color: whitesmoke;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-right div {
    margin: 10px;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom a {
    text-decoration: underline;
}

